// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';
@import "~simple-datatables/src/style.css";
@import "~startbootstrap-sb-admin/src/scss/styles";
// import for chart.js 2.8.0
@import "~chart.js/dist/Chart.css";

img.table-avatar {
    border-radius: 50%;
    display: inline;
    width: 2.5rem;
}

.login-box-msg,
.register-box-msg {
    margin: 0;
    padding: 0 20px 20px;
    text-align: center;
}
